$title-color: #a0b0b9;
$value-color: #4a4a4a;
$price-color: #2196f3;
$font-weight: 550;
$box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.09);

.ticket {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  border-radius: 10px 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;

  &__header {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: $price-color;
    font-size: 24px;
    font-weight: $font-weight;
  }
}
.cell {
  &__title {
    color: $title-color;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $font-weight;
  }
  &__value {
    color: $value-color;
    line-height: 21px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $font-weight;
  }
}
